.label-text-left {
  justify-content: left !important;
}
.label-text-right {
  justify-content: right !important;
}
.label-text-center {
  justify-content: center !important;
}

.Label-Top,
.Label-Bottom {
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  &:hover {
    background-color: rgba(200, 200, 200, 0.16);
    .Text {
      color: black;
    }
  }
}

.Label-Top {
  > .Text {
    font-size: 90%;
    //color: rgba(0, 0, 0, 0.6);
    margin-top: 4px;
    font-weight: bold;
  }
  > .Reference {
    border-width: 0px;
    display: block;
    &:empty,
    & > *:empty {
      min-height: 1.5em;
    }
    /*input {
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.09);
    }
    input.is-valid {
      border-color: rgba(0, 212, 0, 0.9);
    }
    input.is-invalid {
      border-color: rgba(223, 0, 0, 0.9);
    }*/
    label {
      border-style: groove;
      border-width: 0 0 thin thin;
      border-width: 0;
      border-color: rgba(0, 0, 0, 0.125);
      padding-left: 2px;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.Label-Bottom {
  > .Text {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
  }
  > .Reference {
    border-width: 0px;
    display: block;
    & :empty,
    & > *:empty {
      min-height: 1.5em;
    }
    /*input {
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.09);
    }
    input.is-valid {
      border-color: rgba(0, 212, 0, 0.9);
    }
    input.is-invalid {
      border-color: rgba(223, 0, 0, 0.9);
    }*/
    label {
      border-bottom-style: dashed;
      border-bottom-width: thin;
      border-bottom-color: rgba(0, 0, 0, 0.125);
    }
  }
}

*::placeholder {
  color: rgba(0, 0, 0, 0.125);
}
