.label-text-left {
  justify-content: left !important;
}
.label-text-right {
  justify-content: right !important;
}
.label-text-center {
  justify-content: center !important;
}

.Label-Top,
.Label-Bottom {
  display: block;
  margin-left: 2px;
  &:hover {
    background-color: rgba(200, 200, 200, 0.16);
    .Text {
      color: black;
    }
  }
}

.Label-Top {
  > .Text {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 8px;
  }
  > .Reference {
    border-width: 0px;
    &:empty,
    & > *:empty {
      min-height: 1.5em;
    }
    input {
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.09);
    }
    label {
      border-style: groove;
      border-width: 0 0 thin thin;
      border-width: 0;
      border-color: rgba(0, 0, 0, 0.125);
      padding-left: 2px;
      padding-top: 0;
      padding-bottom: 6px;
    }
  }
}

.Label-Bottom {
  > .Text {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
  }
  > .Reference {
    border-width: 0px;
    & :empty,
    & > *:empty {
      min-height: 1.5em;
    }
    input {
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.09);
    }
    label {
      border-bottom-style: dashed;
      border-bottom-width: thin;
      border-bottom-color: rgba(0, 0, 0, 0.125);
    }
  }
}

*::placeholder {
  color: rgba(0, 0, 0, 0.125);
}
