$size-0x: 1.8em;
$size-1x: 2.5em;
$size-2x: 3.5em;
$size-3x: 4.5em;
$size-4x: 5.5em;
$size-5x: 6.5em;

$border: 2px solid
  rgba(
    $color: #000000,
    $alpha: 0.3
  );

.Icon {
  &.shape-circle {
    border: $border;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    align-content: center;
    text-align: center;
    &.shape-normal {
      height: $size-0x;
      width: $size-0x;
    }
    &.shape-lg {
      height: $size-1x;
      width: $size-1x;
    }
    &.shape-2x {
      height: $size-2x;
      width: $size-2x;
    }
    &.shape-3x {
      height: $size-3x;
      width: $size-3x;
    }
    &.shape-4x {
      height: $size-4x;
      width: $size-4x;
    }
    &.shape-5x {
      height: $size-5x;
      width: $size-5x;
    }
  }
  &.shape-square {
    border: $border;
    border-radius: 2%;
    height: 1.8em;
    width: 1.8em;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    align-content: center;
    text-align: center;
    &.shape-normal {
      height: $size-0x;
      width: $size-0x;
    }
    &.shape-lg {
      height: $size-1x;
      width: $size-1x;
    }
    &.shape-2x {
      height: $size-2x;
      width: $size-2x;
    }
    &.shape-3x {
      height: $size-3x;
      width: $size-3x;
    }
    &.shape-4x {
      height: $size-4x;
      width: $size-4x;
    }
    &.shape-5x {
      height: $size-5x;
      width: $size-5x;
    }
  }
}
